
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: inline-block;
    padding-left: 20px;
}

.toboolist{
    display: inline-block;
    font-size: 300%;
}

.vertical-align{
    vertical-align: middle;
    
    
}

.body{
    background: #ebeaea;
}

.container{
   height: 1000px;
   margin: 50px 1400px 400px 200px;
    background-color: white ;
    padding: 30px;
}


.rettangolo{
    border: solid;
    border-radius: 10px;
    padding: 10px;
    height: 5px;
    width: 5px;
    background-color:dodgerblue ;
    color: white;
    

    

}

.rettangolo-trasparente{
    border: solid;
    border-radius: 10px;
    padding: 8px;
    width: 20px;
    height: 20px;
    color: rgb(224, 224, 224)
    
    
}


.color-div{
    background: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul{
    list-style-type: none;
    margin-bottom: 20px;
}

li{
    padding-bottom: 25px;
}

.spazio{
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.spazio-2{
    padding-top: 10px;
    padding-bottom: 10px;
}

.forme-lista{
    border: solid;
    border-radius: 20px;
    padding: 5px;
    width: 20px;
    height: 20px;
}

.colore-1{
    background-color: dodgerblue;
    color: white;
    font-size: small;
}

.colore-2{
    background-color: blueviolet;
    color: white;
    font-size:small ;
}
.colore-3{
    background-color: rgb(80, 194, 141);
    color: white;
    font-size: small;
}
.colore-4{
    background-color: orange;
    color: white;
    font-size: small;
}
.colore-5{
    background-color: rgb(231, 88, 231);
    color: white;
    font-size: small;
}
.colore-6{
    background-color: rgb(167, 211, 78);
    color: white;
    font-size: small;
}

.entities-1{
    color:rgb(48, 212, 48);
    border: 1px solid;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;

    
}
.entities-2{
    color: red;
    border: 1px solid;
    height: 40px;
    width: 40px;
    border-radius: 70%;
    margin-right: 8px;


}